[user]
        name = Luke D Russell
        email = lukedrussell+git@outlook.com
[credential]
        helper = cache --timeout 86400
[url "https://"]
        insteadOf = git://
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = Development

