- name: Install common packages
  become: true
  ansible.builtin.dnf:
    name: "{{ common_packaged_apps }}"
    state: present

- name: Install Fedora packages
  become: true
  when: update_install == "yes"
  ansible.builtin.dnf:
    name: "{{ fedora_apps }}"
    state: present

- name: Update packages
  become: true
  ansible.builtin.package:
    name: "*"
    state: latest
    update_only: true
    update_cache: true

- name: Install Nerd Fonts
  when:
    - ansible_facts.distribution == "Fedora"
  block:

    - name: Ensure fonts directory exists
      ansible.builtin.file:
        path: "~/.fonts"
        state: directory
        mode: "0700"

    - name: Check if Hack NF exists
      ansible.builtin.stat:
        path: "~/.fonts/Hack Regular Nerd Font Complete Mono.ttf"
      register: font_hack_exists

    - name: Download Hack
      when: not font_hack_exists.stat.exists
      ansible.builtin.unarchive:
        src: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.3.3/Hack.zip
        dest: "{{ lookup('env', 'HOME') }}/.fonts/"
        remote_src: true
