- name: Create .config folders
  ansible.builtin.file:
    dest: "~/.config/{{ item }}/"
    state: directory
    recurse: true
  loop:
    - tmux
    - fish
    - emacs
  # - nvim - exclude as I'm using Astronvim instead

- name: Link Tmux settings
  ansible.builtin.file:
    dest: ~/.config/tmux/tmux.conf
    src: "{{ playbook_dir }}/tmux.conf"
    state: link
    force: true

- name: Link Fish settings
  ansible.builtin.file:
    dest: ~/.config/fish/config.fish
    src: "{{ playbook_dir }}/config.fish"
    state: link
    force: true

- name: Link emacs init.el
  ansible.builtin.file:
    dest: ~/.config/emacs/init.el
    src: "{{ playbook_dir }}/init.el"
    state: link
    force: true

- name: Link Global Git Config settings
  ansible.builtin.file:
    dest: ~/.gitconfig
    src: "{{ playbook_dir }}/gitconfig"
    state: link
    force: true

- name: Install fisher
  ansible.builtin.shell:
    cmd: curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
  args:
    executable: /usr/bin/fish

- name: Install fish plugins
  ansible.builtin.shell:
    cmd: "fisher install  {{ item }}"
  args:
    executable: /usr/bin/fish
  loop:
    - nickeb96/puffer-fish
    - IlanCosman/tide@v6
